@charset "UTF-8";
header {
  background: url("/assets/img/bg-slider-06.jpg") bottom/cover;
  height: 700px;
}
header .nav-container {
  display: grid;
  grid-template-columns: 7% 86% 7%;
  justify-content: space-around;
  max-width: 68%;
  margin: auto;
  align-items: center;
  padding-top: 15px;
}
header .nav-container span {
  font-family: "allura";
  font-size: 1.7rem;
  font-weight: bold;
}
header .nav-container .tab ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: lighter;
}
header .nav-container .social ul {
  display: flex;
  justify-content: space-around;
}
header .presentation {
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}
header .presentation .tittle {
  text-transform: none;
  font-size: 2.5rem;
}
header .presentation h1 {
  font-weight: 600;
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
  text-align: center;
}
header .presentation h1 strong {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
header .presentation p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}
header .presentation img {
  width: 30px;
  margin: 30px auto;
}

/*************section 1 presentation du chef Russel**************/
.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
}
.section1 .left-part {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  border: 1px dashed var(--gold);
  margin: 15px;
  padding: 30px 15px;
}
.section1 .left-part h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5rem;
}
.section1 .left-part h2 strong {
  font-size: 1.5rem;
  color: var(--black);
}
.section1 .left-part p {
  color: var(--black);
  text-align: center;
}
.section1 .left-part h6 {
  color: var(--black);
  font-weight: bold;
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
}
.section1 .left-part .chef {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.section1 .right-part {
  background: url(/assets/img/store-01.jpg) center/cover;
}

/**************section 2 présentation du menu ***************/
.menu {
  padding: 35px 0;
  margin-bottom: 85px;
  position: relative;
}
.menu .tittle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .tittle-container .tittle {
  font-size: 2rem;
  font-weight: 100;
}
.menu .tittle-container img {
  margin: 20px auto;
}

.menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 550px;
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  z-index: -1;
  top: 300px;
}

.menu-container {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}
.menu-container ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.menu-container ul li {
  padding-bottom: 6px;
  border-bottom: solid 1px var(--grey);
}
.menu-container .card {
  background: var(--white);
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: solid 4px var(--gold);
}
.menu-container .card .item {
  margin: 20px auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.menu-container .card .item img {
  width: 70px;
}
.menu-container .card .item::after {
  content: "";
  position: absolute;
  width: 87%;
  height: 1px;
  border-bottom: dashed 1px var(--grey);
  top: 120px;
}
.menu-container .card .ingredients h4 {
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
}
.menu-container .card .ingredients p {
  color: var(--black);
  font-size: 1.1rem;
}
.menu-container .card span {
  color: var(--gold);
}

/*********************** booking part *********************/
.time-booking {
  max-width: 900px;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-between;
  margin: 20px auto;
}
.time-booking .time-container {
  background: rgb(37, 37, 37);
  padding: 15px;
}
.time-booking .time-container .time-open-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: dashed 1px var(--white);
  height: 100%;
}
.time-booking .time-container .time-open-part .tittle {
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}
.time-booking .time-container .time-open-part h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.time-booking .time-container .time-open-part h3 strong {
  text-transform: uppercase;
}
.time-booking .time-container .time-open-part h4 {
  text-transform: uppercase;
  color: var(--gold);
  font-size: 0.9rem;
  margin: 20px auto 15px auto;
}
.time-booking .time-container .time-open-part p {
  font-size: 0.8rem;
  text-align: center;
}
.time-booking .time-container .time-open-part .number {
  color: var(--gold);
  font-weight: bold;
  margin-top: 25px;
  font-size: 0.9rem;
}
.time-booking .booking-part {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 70px 10px 70px;
}
.time-booking .booking-part .tittle {
  line-height: 1.4rem;
  text-align: center;
  font-size: 1.8rem;
}
.time-booking .booking-part .tittle strong {
  color: black;
  text-transform: uppercase;
}
.time-booking .booking-part img {
  margin: 30px auto;
}
.time-booking .booking-part form {
  display: grid;
  gap: 15px;
  grid-template-areas: "peo day hour" "name tel mail";
}
.time-booking .booking-part form #people {
  grid-area: peo;
}
.time-booking .booking-part form #date {
  grid-area: day;
}
.time-booking .booking-part form #time {
  grid-area: hour;
}
.time-booking .booking-part form #name {
  grid-area: name;
}
.time-booking .booking-part form #phone {
  grid-area: tel;
}
.time-booking .booking-part form #mail {
  grid-area: mail;
}
.time-booking .booking-part form input {
  border: none;
  border-bottom: solid 0.5px var(--black);
  color: var(--black);
  background: var(--white);
  padding: 5px;
}
.time-booking .booking-part form select {
  border: none;
  border-bottom: solid 0.5px var(--black);
  color: var(--black);
  background: var(--white);
  padding: 5px;
}
.time-booking .booking-part form .button {
  background: black;
  color: var(--white);
  text-transform: uppercase;
  font-family: "poppins";
  letter-spacing: 0.2rem;
  font-weight: lighter;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 20px;
  grid-column: 2/3;
  grid-row: 4;
}

/************ Events part **********/
.events-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
}
.events-content .tittle {
  line-height: 1.6rem;
  text-align: center;
}
.events-content h2 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.events-content h2 strong {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.events-content .spoon {
  margin: 25px auto;
}
.events-content .event-part {
  width: 880px;
  display: flex;
  justify-content: space-between;
}
.events-content .event-part .left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.events-content .event-part .left-part .event-1 {
  grid-area: event1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.events-content .event-part .left-part .event-1 .img-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/event-01.jpg) center/cover;
}
.events-content .event-part .left-part .event-1 .white-container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 1rem;
}
.events-content .event-part .left-part .event-1 .white-container h4 {
  color: var(--black);
  font-size: 1.2rem;
}
.events-content .event-part .left-part .event-1 .white-container p {
  letter-spacing: 0.1rem;
  color: var(--grey);
}
.events-content .event-part .left-part .event-1 .white-container p i {
  color: var(--grey);
}
.events-content .event-part .left-part .event-1 .white-container button {
  border: none;
  background: none;
  color: var(--black);
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
}
.events-content .event-part .left-part .event-1 .date-container {
  background: var(--black);
  width: 50px;
  height: 50px;
  padding: 7px;
}
.events-content .event-part .left-part .event-1 .date-container p {
  text-align: center;
  font-size: 0.7rem;
}
.events-content .event-part .left-part .event-1 .date-container p strong {
  font-size: 1.2rem;
}
.events-content .event-part .left-part .event-2 {
  grid-area: event2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.events-content .event-part .left-part .event-2 .img-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/event-02.jpg) center/cover;
}
.events-content .event-part .left-part .event-2 .white-container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 1rem;
}
.events-content .event-part .left-part .event-2 .white-container h4 {
  color: var(--black);
  font-size: 1.2rem;
}
.events-content .event-part .left-part .event-2 .white-container p {
  letter-spacing: 0.1rem;
  color: var(--grey);
}
.events-content .event-part .left-part .event-2 .white-container p i {
  color: var(--grey);
}
.events-content .event-part .left-part .event-2 .white-container button {
  border: none;
  background: none;
  color: var(--black);
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
}
.events-content .event-part .left-part .event-2 .date-container {
  background: var(--black);
  width: 50px;
  height: 50px;
  padding: 7px;
}
.events-content .event-part .left-part .event-2 .date-container p {
  text-align: center;
  font-size: 0.7rem;
}
.events-content .event-part .left-part .event-2 .date-container p strong {
  font-size: 1.2rem;
}
.events-content .event-part .event-3 .img-03 {
  background: url(/assets/img/event-03.jpg) center/cover;
  padding: 20px;
}
.events-content .event-part .event-3 .img-03 .white-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0 15px;
  align-items: center;
  background: var(--white);
  width: 100%;
  height: 100%;
}
.events-content .event-part .event-3 .img-03 .white-container .date-container {
  background: var(--black);
  width: 50px;
  height: 50px;
  padding: 7px;
}
.events-content .event-part .event-3 .img-03 .white-container .date-container p {
  text-align: center;
  font-size: 0.7rem;
  color: var(--white);
}
.events-content .event-part .event-3 .img-03 .white-container .date-container p strong {
  font-size: 1.2rem;
}
.events-content .event-part .event-3 .img-03 .white-container h4 {
  color: var(--black);
  font-size: 1.2rem;
  text-align: center;
}
.events-content .event-part .event-3 .img-03 .white-container p {
  color: var(--grey);
  letter-spacing: 0.1rem;
}
.events-content .event-part .event-3 .img-03 .white-container p i {
  color: var(--grey);
}
.events-content .event-part .event-3 .img-03 .white-container button {
  color: var(--black);
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
}

/*************** cook presentation ***************/
.cook-presentation {
  margin: 150px auto;
  position: relative;
}
.cook-presentation div {
  margin: 0 auto;
  padding: 50px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.cook-presentation div p {
  color: var(--black);
  text-align: center;
  line-height: 1.5rem;
}
.cook-presentation div p i {
  color: var(--black);
}
.cook-presentation div h4 {
  margin: 20px auto 10px;
  color: var(--black);
  font-size: 1.3rem;
}
.cook-presentation div h5 {
  color: var(--grey);
}

.cook-presentation::before {
  content: "";
  position: absolute;
  background: url(/assets/img/avatar-02.jpg) center/cover;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  top: -25px;
  left: 50%;
}

.cook-presentation::after {
  content: "";
  position: absolute;
  background: url(/assets/img/gmap.jpg) center/cover;
  width: 100%;
  height: 300px;
  z-index: -1;
  bottom: -200px;
}

@font-face {
  font-family: "allura";
  src: url(/assets/fonts/Allura.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(/assets/fonts/Poppins.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(/assets/fonts/Roboto.ttf);
}
:root {
  --gold: rgb(174, 115, 86);
  --black: rgb(60, 60, 60);
  --grey: rgb(175, 175, 175);
  --white: rgb(250, 250, 250);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: var(--white);
  font-size: 0.9rem;
  list-style: none;
}

body {
  background: var(--black);
}

.tittle {
  font-family: "allura", sans-serif;
  font-size: 1.5rem;
  color: var(--gold);
}

.tittle strong {
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
}

img {
  border-radius: 100px;
}

.spoon {
  width: 20px;
}

.photo {
  width: 80px;
}

footer {
  margin: 200px 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .left-part {
  padding: 45px 45px 45px 200px;
}
footer .left-part h2 {
  font-family: "allura", sans-serif;
  color: var(--gold);
  font-size: 2.2rem;
}
footer .left-part p {
  line-height: 1.5rem;
}
footer .right-part {
  background: rgb(90, 90, 90);
  padding: 45px;
}
footer .right-part h4 {
  text-transform: uppercase;
  font-family: "poppins";
  font-size: 1.2rem;
}
footer .right-part input {
  background: none;
  border: solid 1px var(--grey);
  padding: 5px 30px 5px 5px;
  margin-top: 10px;
}
footer .right-part .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  max-width: 300px;
}
footer .right-part .social nav ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
footer .right-part .social nav ul i {
  color: var(--grey);
}/*# sourceMappingURL=index.css.map */