@charset "UTF-8";
header {
  background: url("/assets/img/bg-slider-06.jpg") bottom/cover;
  height: 700px;
}
header .nav-container {
  display: grid;
  grid-template-columns: 7% 86% 7%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 68%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
header .nav-container span {
  font-family: "allura";
  font-size: 1.7rem;
  font-weight: bold;
}
header .nav-container .tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: lighter;
}
header .nav-container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .presentation {
  margin: 110px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
}
header .presentation .tittle {
  text-transform: none;
  font-size: 2.5rem;
}
header .presentation h1 {
  font-weight: 600;
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
  text-align: center;
}
header .presentation h1 strong {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
header .presentation p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}
header .presentation img {
  width: 30px;
  margin: 30px auto;
}

/*************section 1 presentation du chef Russel**************/
.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
}
.section1 .left-part {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: white;
  border: 1px dashed var(--gold);
  margin: 15px;
  padding: 30px 15px;
}
.section1 .left-part h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5rem;
}
.section1 .left-part h2 strong {
  font-size: 1.5rem;
  color: var(--black);
}
.section1 .left-part p {
  color: var(--black);
  text-align: center;
}
.section1 .left-part h6 {
  color: var(--black);
  font-weight: bold;
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
}
.section1 .left-part .chef {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.section1 .right-part {
  background: url(/assets/img/store-01.jpg) center/cover;
}

/**************section 2 présentation du menu ***************/
.menu-container {
  max-width: 700px;
  margin: 0 auto;
}
.menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu-container .card {
  background: var(--white);
}

@font-face {
  font-family: "allura";
  src: url(/assets/fonts/Allura.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(/assets/fonts/Poppins.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(/assets/fonts/Roboto.ttf);
}
:root {
  --gold: rgb(174, 115, 86);
  --black: rgb(60, 60, 60);
  --grey: rgb(175, 175, 175);
  --white: rgb(230, 230, 230);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: var(--white);
  font-size: 0.9rem;
  list-style: none;
}

body {
  background: var(--black);
}

.tittle {
  font-family: "allura", sans-serif;
  font-size: 1.5rem;
  color: var(--gold);
}

.tittle strong {
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
}

img {
  border-radius: 100px;
}

.spoon {
  width: 30px;
}

.photo {
  width: 80px;
}/*# sourceMappingURL=index.css.map */