/*************section 1 presentation du chef Russel**************/

.section1{
    display: grid;
    grid-template-columns: 50% 50%;
    background: var(--white);
    
    .left-part{
        background: var(--white);
        border: 1px dashed var(--gold);
        margin: 15px;
        padding: 30px 15px;
        h2{
            color: var(--gold);
            font-family: "allura";
            font-size: 2rem;
            font-weight: 500;
        }
        h3{
            margin-top: -12px;
            font-family: "poppins";
            color: var(--black);
        }
        img{
            margin: 26px;
        }
        img:nth-of-type(2){
            height: 70px;
            border-radius: 150px;
            margin-bottom: 8px;
        }
        h4{
            font-family: "poppins", serif;
            font-weight: 100;
        }
        h5{
            color: var(--grey);
            font-size: 0.7rem;
        }
    }
    .right-part{
        background: url(/assets/img/store-01.jpg) center/cover;
    }
}
/**************section 2 présentation du menu ***************/
.section2 {
    color: var(--white);
    padding-bottom: 100px;
    position: relative;
  
    &:after {
      content: "";
      position: absolute;
      height: 620px;
      width: 100%;
      background: url(/assets/img/bg-menu-01.jpg) center/cover;
      left: 50%;
      bottom: -330px;
      transform: translate(-50%, -50%);
    }
    h2 {
      color: var(--gold);
      font-size: 2rem;
      font-family: "allura";
      font-weight: 500;
      padding: 60px 0 30px;
    }
    ul {
      @include alignChildren(space-around);
      width: 50%;
      margin: 30px auto;
      min-width: 500px;
  
  
      li {
        border-bottom: 1px solid var(--grey);
        padding-bottom: 8px;
      }
    }
    .meals {
      background: var(--white);
      color: var(--black);
      width: 85%;
      max-width: 800px;
      margin: 0 auto;
      border-top: 4px solid var(--gold);
      padding: 15px 0;
      display: grid;
      grid-template-columns: 50% 50%;
      z-index: 1000;
      position: relative;
  
  
      .meal {
        display: grid;
        grid-template-columns: 25% 60% 15%;
        border-bottom: 1px dashed var(--grey);
        padding: 30px 0;
        margin: 0 20px;
  
        img {
          border-radius: 50px;
          object-fit: cover;
          width: 100%;
          align-self: center;
        }
        .meal-text {
          text-align: left;
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 0 10px;
          height: 100%;
  
          h3 {
            text-transform: uppercase;
            color: var(--black);
            font-size: 0.8rem;
            font-weight: bold;
            margin-bottom: 5px;
          }
        }
        > p {
          color: var(--gold);
          font-weight: 600;
          font-size: 1.1rem;
          display: grid;
          height: 100%;
          align-items: center;
        }
      }
    }
  }
  
/*********************** booking part *********************/
.section3{
    padding: 100px 15px 65px;
    color: var(--white);

    .form-content{
        display: grid;
        grid-template-columns: 30% 70%;
        background: var(--white);
        max-width: 1050px;
        margin: 0 auto;

        .hours{
            padding: 24px;
            background: black;

            .hours-content{
                border: 1px dashed var(--grey);
                padding: 20px 0;

                h3{
                    font-family: "allura", cursive;
                    font-size: 2.5rem;
                    font-weight: 100;
                    color: var(--gold);
                }

                h4{
                    font-family: "poppins", serif;
                    margin-top: -16px;
                    letter-spacing: 2px;
                    font-size: 1.3rem;
                }

                img{
                    margin-top: 25px;
                }
                h5{
                    text-transform: uppercase;
                    color: var(--gold);
                    font-family: "poppins";
                    font-weight: 100;
                    font-size: 1.1rem;
                    margin: 38px 0 12px;
                }
                p{
                    font-size: 0.85rem;
                }
            }
        }
        .form-infos{
            @include childCenter;
            padding: 30px 0;

            h2{
                font-family: "allura";
                font-size: 2.5rem;
                font-weight: 100;                    color: var(--gold);
            }
            h3{
                color: var(--black);
                margin-top: -18px;
                font-family: "poppins";
                font-size: 1.8rem;
            }
            img{
                height: 25px;
                width: 25px;
            }
            .form-inputs{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-bottom: 30px;
                
                >*{
                    padding: 10px 0;
                    margin: 10px;
                    background: none;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid var(--grey);
                }
            }
            button{
                border: none;
                border-radius: 50px;
                background: var(--black);
                color: var(--white);
                padding: 16px 34px;
                letter-spacing: 4px;
                font-weight: 700;
                cursor: pointer;
                transition: 0.2s;

                &:hover{
                    transform: translateX(3px);
                    box-shadow: 0 2px 4px rgba(0,0,0,0.433);
                }
            }
        }
    }
}

/************ Events part **********/
.section4{
    padding: 50px 20px 90px;

    .event-container{
        max-width: 1000px;
        margin: 0 auto;

        h2{
            font-size: 2.5rem;
            color: var(--gold);
            font-family: allura;
            font-weight: 100;
        }
        h4{
            letter-spacing: 2px;
            font-size: 2rem;
            font-weight: 900;
            color: var(--white);
            margin-top: -12px;
            font-family: poppins;
        }
        img{
            margin: 30px 0;
        }
        .event-grid{
            display: grid;
            grid-template-columns: 58% 42%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "a b"
            "c b";
            gap: 20px;

            .date-content{
                background: var(--black);
                height: 86px;
                width: 86px;
                margin: 0 auto;
                color: var(--white);
                @include childCenter;
                flex-direction: column;
                line-height: 22px;

                h6{
                    font-size: 1.7rem;
                }

            }

            .address{
                background: var(--white);

                h3{
                    letter-spacing: 1px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding-left: 8px;
                }
                p{
                    font-size: 0.9rem;
                    color: var(--grey);
                    margin-top: 20px;
                    letter-spacing: 1px;

                    i{
                        margin-right: 3px;
                        font-size: 0.7rem;
                        transform: translateY(-2px);

                        &:nth-child(2){
                            margin-left: 10px;
                        }
                    }
                }
                h5{
                    letter-spacing: 2px;
                    margin-top: 25px;
                }
            }

            .event-left{
                display: grid;
                grid-template-columns: 39% 61%;
                text-align: left;

                .date{
                    @include childCenter;
                }
                .address{
                    color: var(--black);
                    padding: 30px 20px;
                }
            }

            .event-1{
                grid-area: a;

                .date{
                    background: url(/assets/img/event-01.jpg) center/cover;
                }
            }
            .event-2{
                grid-area: c;

                .date{
                    background: url(/assets/img/event-02.jpg) center/cover;
                }
            }
            .event-3{
                grid-area: b;
                background: url(/assets/img/event-03.jpg) center/cover;
                padding: 25px;

                .address{
                    height: 100%;
                    padding: 0 12px;

                    h3{
                        margin: 40px 0 15px;
                    }
                    h5{
                        padding: 45px;
                    }
                }
            }
        }
    }
}
/*************** cook presentation ***************/

.section5{
    padding: 70px 0 230px;
    position: relative;

    &::after{
        content: "";
        position:absolute;
        background: url(/assets/img/gmap.jpg)center/cover;
        width: 100%;
        height: 350px;
        z-index: -1;
        left: 0;
        bottom: 0;
    }
    .quote-container{
        margin: 0 auto;
        padding: 65px 70px;
        background: white;
        max-width: 900px;
        box-shadow: 0 0 3px #333;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            background: url(/assets/img/avatar-02.jpg)center/cover;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            }
        .text-container{
            line-height: 30px;

            &::before{
                content: "❝"
            }
            &::after{
                content: "❞";
            }
            &::before,
            &::after{
                font-size: 1.5rem ;
            }
        }
    }
    h2{
            margin: 30px 0 15px;
            font-weight: 100;
    }
    p{
            color: var(--grey);
    }
}
