/*************section 1 presentation du chef Russel**************/

.section1{
    display: grid;
    grid-template-columns: 50% 50%;
    background: var(--white);
    
    .left-part{
        background: var(--white);
        border: 1px dashed var(--gold);
        margin: 15px;
        padding: 30px 15px;
        h2{
            color: var(--gold);
            font-family: "allura";
            font-size: 2rem;
            font-weight: 500;
        }
        h3{
            margin-top: -12px;
            font-family: "poppins";
            color: var(--black);
        }
        img{
            margin: 26px;
        }
        img:nth-of-type(2){
            height: 70px;
            border-radius: 150px;
            margin-bottom: 8px;
        }
        h4{
            font-family: "poppins", serif;
            font-weight: 100;
        }
        h5{
            color: var(--grey);
            font-size: 0.7rem;
        }
    }
    .right-part{
        background: url(/assets/img/store-01.jpg) center/cover;
    }
}
/**************section 2 présentation du menu ***************/
.section2{
    color: var(--white);
    padding-bottom: 100px;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        height: 620px;
        width: 200%;
        background: url(/assets/img/bg-menu-01.jpg);
        left: 0;
        bottom: -600px;
        transform: translate(-50%, -50%);
    }
    h2{
        color: var(--gold);
        font-size: 2rem;
        font-weight: 500;
        padding: 60px 0 30px;
        font-family: "allura", cursive;
    }
    ul{
        @include alignChildren(space-around);
        width: 50%;
        margin: 30px auto;
        min-width: 500px;

        li{
            border-bottom: 1px solid var(--grey);
            padding-bottom: 8px;
        }
    }
    .meals{
        background: var(--white);
        color: black;
        width: 85%;
        max-width: 800px;
        margin: 0 auto;
        border-top: 4px solid var(--gold);
        display: grid;
        grid-template-columns: 50% 50%;
        z-index: 1000;
        position: relative;

        .meal{
            display: grid;
            grid-template-columns: 25% 60% 15%;
            border-bottom: 1px dashed var(--grey);
            padding: 30px 0;
            margin: 0 20px;

            img{
                border-radius: 50px;
                object-fit: cover;
                width: 100%;
                align-self: center;
            }
            .meal-text{
                text-align: left;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 0 10px;
                height: 100%;

                h3{
                    text-transform: uppercase;
                    color: var(--black);
                    font-size: 0.8rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }
            > p{
                color: var(--gold);
                font-weight: 600;
                font-size: 1.1rem;
                display: grid;
                height: 100%;
                align-items: center;
            }
        }
    }
}

/*********************** booking part *********************/

.time-booking{
    max-width: 900px;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    margin: 20px auto;
    .time-container{
        background: rgb(37, 37, 37);
        padding: 15px;
        .time-open-part{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: dashed 1px var(--white);
            height: 100%;
            .tittle{
                line-height: 1.2rem;
                text-align: center;
                margin-bottom: 20px;
            }
            h3{
                font-size: 1.8rem;
                font-weight: lighter;
                strong{
                    text-transform: uppercase;
                }
            }
            h4{
                text-transform: uppercase;
                color: var(--gold);
                font-size: 0.9rem;
                margin: 20px auto 15px auto;
            }
            p{
                font-size: .8rem;
                text-align: center;
            }
            .number{
                color: var(--gold);
                font-weight: bold;
                margin-top: 25px;
                font-size: 0.9rem;
            }
        }
    }
    .booking-part{
        background: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 70px 10px 70px;
        .tittle{
            line-height: 1.4rem;
            text-align: center;
            font-size: 1.8rem;
            strong{
                color: black;
                text-transform: uppercase;
            }
        }
        img{
            margin: 30px auto;
        }
        form{
            display: grid;
            gap: 15px;
            grid-template-areas: 
            "peo day hour"
            "name tel mail";
            #people{
                grid-area: peo;
            }
            #date{
                grid-area: day;
            }
            #time{
                grid-area: hour;
            }
            #name{
                grid-area: name;
            }
            #phone{
                grid-area: tel;
            }
            #mail{
                grid-area: mail;
            }
            input{
                border: none;
                border-bottom: solid .5px var(--black);
                color: var(--black);
                background: var(--white);
                padding: 5px;
            }
            select{
                border: none;
                border-bottom: solid .5px var(--black);
                color: var(--black);
                background: var(--white);
                padding: 5px;
            }
            .button{
                background: black;
                color: var(--white);
                text-transform: uppercase;
                font-family: "poppins";
                letter-spacing: 0.2rem;
                font-weight: lighter;
                font-size: 0.8rem;
                padding: 10px;
                border-radius: 20px;
                grid-column: 2/3;
                grid-row: 4;
            }
        }
    }
}

/************ Events part **********/
.events-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 880px;
    margin: 0 auto;
    .tittle{
        line-height: 1.6rem;
        text-align: center;
    }
    h2{
        font-size: 1.8rem;
        font-weight: lighter;
        strong{
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
    .spoon{
        margin: 25px auto;
    }
    .event-part{
        width: 880px;
        display: flex;
        justify-content: space-between;
        .left-part{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .event-1{
                grid-area: event1;
                display: grid;
                grid-template-columns: 1fr 2fr;
                .img-01{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: url(/assets/img/event-01.jpg) center/cover;
                }
                .white-container{
                    background: var(--white);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 15px;
                    gap: 1rem;
                    h4{
                        color: var(--black);
                        font-size: 1.2rem;
                    }
                    p{
                        letter-spacing: 0.1rem;
                        color: var(--grey);
                        i{
                            color: var(--grey);
                        }
                    }
                    button{
                        border: none;
                        background: none;
                        color: var(--black);
                        text-transform: uppercase;
                        font-family: "poppins", sans-serif;
                    }
                }
                .date-container{
                    background: var(--black);
                    width: 50px;
                    height: 50px;
                    padding: 7px;
                    p{
                        text-align: center;
                        font-size: 0.7rem;
                        strong{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .event-2{
                grid-area: event2;
                display: grid;
                grid-template-columns: 1fr 2fr;
                .img-02{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: url(/assets/img/event-02.jpg) center/cover;
                }
                .white-container{
                    background: var(--white);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 15px;
                    gap: 1rem;
                    h4{
                        color: var(--black);
                        font-size: 1.2rem;
                    }
                    p{
                        letter-spacing: 0.1rem;
                        color: var(--grey);
                        i{
                            color: var(--grey);
                        }
                    }
                    button{
                        border: none;
                        background: none;
                        color: var(--black);
                        text-transform: uppercase;
                        font-family: "poppins", sans-serif;
                    }
                }
                .date-container{
                    background: var(--black);
                    width: 50px;
                    height: 50px;
                    padding: 7px;
                    p{
                        text-align: center;
                        font-size: 0.7rem;
                        strong{
                            font-size: 1.2rem;
                        }
                    }
                }
            }

        }
        .event-3{
            .img-03{
                background: url(/assets/img/event-03.jpg)center/cover;
                padding: 20px;
                .white-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 1.5rem;
                    padding: 0 15px;
                    align-items: center;
                    background: var(--white);
                    width: 100%;
                    height: 100%;
                    .date-container{
                        background: var(--black);
                        width: 50px;
                        height: 50px;
                        padding: 7px;
                        p{
                            text-align: center;
                            font-size: 0.7rem;
                            color: var(--white);
                            strong{
                                font-size: 1.2rem;
                            }
                        }
                    }
                    h4{
                        color: var(--black);
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    p{
                        color: var(--grey);
                        letter-spacing: 0.1rem;
                        i{
                            color: var(--grey);
                        }
                    }
                    button{
                        color: var(--black);
                        border: none;
                        background: none;
                        text-transform: uppercase;
                        font-family: "poppins", sans-serif;
                    }
                }
            }
            
        }
    }
}

/*************** cook presentation ***************/

.cook-presentation{
    margin: 150px auto;
    position: relative;
    div{
        margin: 0 auto;
        padding: 50px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        p{
            color: var(--black);
            text-align: center;
            line-height: 1.5rem;
            i{
                color: var(--black);
            }
            
        }
        h4{
            margin: 20px auto 10px;
            color: var(--black);
            font-size: 1.3rem;
        }
        h5{
            color: var(--grey);
        }
    }
}
.cook-presentation::before{
    content: "";
    position: absolute;
    background: url(/assets/img/avatar-02.jpg)center/cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: -25px;
    left: 50%;
}
.cook-presentation::after{
    content: "";
    position:absolute;
    background: url(/assets/img/gmap.jpg)center/cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    bottom: -200px ;
}
