
@font-face {
    font-family: "allura";
    src: url(/assets/fonts/Allura.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(/assets/fonts/Poppins.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(/assets/fonts/Roboto.ttf);
}
:root{
    --gold : rgb(166,114,69);
    --black : #21201e;
    --grey : rgb(182,182,182);
    --white : #eee;
}
@mixin childCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin alignChildren ($space){
    display: flex;
    align-items: center;
    justify-content: $space;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: var(--white);
    font-size: 0.9rem;
    list-style: none;
}
body{
    background: var(--black);
}
.tittle{
    font-family: "allura", sans-serif;
    font-size: 1.5rem;
    color: var(--gold);
}
.tittle strong{
    font-family: "poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
}
img{
    border-radius: 100px
}
.spoon{
    width: 20px;
}
.photo{
    width: 80px;
}