
@font-face {
    font-family: "allura";
    src: url(/assets/fonts/Allura.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(/assets/fonts/Poppins.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(/assets/fonts/Roboto.ttf);
}
:root{
    --gold : rgb(166,114,69);
    --black : #21201e;
    --grey : rgb(182,182,182);
    --white : #eee;
}
@mixin childCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin alignChildren($space){
    display: flex;
    align-items: center;
    justify-content: $space;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    background: var(--black);
    text-align: center;
    font-family: "roboto", sans-serif;
}